
@media (min-width: 992px) { 
    #header .navbar-collapse{
        width: 100%;
        
    }
 
 }

 @media only screen and (max-width:995px) {
    #titulo .btn{
        margin-top: 5px; 
    }
   
   
    #contato .email img{
        width: 90px;
        top: -40px;
    }
  }
 
 @media (max-width: 767.98px){
     #servicos a.destaque .img-container{
         height: 120px;
     }
     #servicos a.destaque .img-container img{
        max-height: 120px;
    }
    #clientes .cliente-texto .imagem {
        padding: 10px 0 30px 0;
    }
    #clientes .cliente-texto .imagem img{
        max-width: 150px;
    }
    
    #contato .email{
        padding: 60px 30px 50px 30px;
        
    }
    #contato .email form{
        width: 100%;
        flex-direction: column;
         
         }
     #contato ul{
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            padding-top: 50px;
           
                
           }    
    
       
 }
 
 
 
 
  
